@model IEnumerable<Librarian.Logic.TinyPM.UserStory>

@{
    ViewBag.Title = "Backlog";
}

<h2>Backlog</h2>
@if (Model.Any())
{
    <ol class="backlog">
        @foreach (var story in Model)
        {
            <li class="story-color-@story.ColorKey" data-story-id="@story.Id">
                <span class="story-id">#@story.Id</span>
                <span class="estimated-effort @(story.EstimatedEffort.HasValue ? "" : "unestimated")">@(story.EstimatedEffort.HasValue ? story.EstimatedEffort.ToString() : "?")</span>
                <div>
                    <span>@story.Name</span>
                    <span class="description">@story.Description</span>
                </div>
            </li>
        }
    </ol>
}
else
{
    <p>No stories found.</p>
}