@model Librarian.Logic.TinyPM.ApiCredential

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <ul>
        <li>
            @Html.LabelFor(m => m.InstanceUri)
            @Html.EditorFor(m => m.InstanceUri)
            @Html.ValidationMessageFor(m => m.InstanceUri)
        </li>
        <li>
            @Html.LabelFor(m => m.ApiKey)
            @Html.EditorFor(m => m.ApiKey)
            @Html.ValidationMessageFor(m => m.ApiKey)
        </li>
    </ul>
    <input type="submit" value="Login" />
}

<p>To find these details,</p>
<ol>
    <li>Login to your tinyPM site</li>
    <li>Click 'Settings' top-right</li>
    <li>Make sure 'API acesss enabled' is ticked, then click save</li>
    <li>Copy the application base URL and authentication token from what it shows on the settings page</li>
</ol>
<p>You will remain logged in until you explicitly logout.</p>